$gray-100: #f8f8f8;
$gray-200: #eeeeee;
$gray-300: #e7e7e7;
$gray-400: #d8d8d8;
$gray-500: #bbbbbb;
$gray-600: #757575;
$gray-700: #515152;
$gray-800: #3d3d3d;
$gray-900: #242424;

$body-bg: rgb(44, 44, 44);
$body-color: rgb(241, 241, 241);
$primary: #3e58b6;

$skeleton-primary: #333333;

$card-bg: rgb(36, 36, 36);

$font-family-base: 'Oswald', sans-serif;
